body{
    width : 515px;
    margin : 10% auto;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    background: lightcyan;
}
h1{
    text-align: center;
}

.Calculator{
    box-sizing: border-box;
    border : 5px solid black;
    background: blue;
    padding: 20px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    border-radius: 35px;
}
.Input{
    background: #fff;
    border : 3px solid wheat;
    border-radius: 25px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow: auto;
    transition: all .2s ease-in-out;
}
.Input:hover{
    border: 5px solid red;
}

.operators div{
    display: inline-block;
    border: 1px solid red;
    border-radius: 30px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #fff;
    color: black;

}
.operators div:hover{
    background-color: #aaa;
}

.leftPanel{
    display: inline-block;
}
.numbers div{
    display: inline-block;
    border: 1px solid red;
    border-radius: 20px;
    width : 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0 ;
    cursor: pointer;
    background-color: #fff;
    color: black;
    
}

.numbers div:hover{
    background-color: #aaa;
}
div .equal{
    display: inline-block;
    border: 1px solid red;
    border-radius: 15px;
    width : 17%;
    text-align: center;
    padding: 123px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: black;
    background-color: #fff;
}
div .equal:hover{
    background-color: #aaa;
}

div .equal:active{
    font-weight: bold;
}
